@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
  background-color: rgba(15, 0, 33, 0.959);
  height: 90vh;
}

.backgg {
  background-color: "#282936";
}

#root {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr;
}

.left-sidebar {
  grid-column: 1 / 2;
}

.main {
  display: grid;
  grid-template-rows: 1fr auto;
}

.uprigth-sidebar {
  grid-column: 1 / 2;
}

#outerDiv {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 86.2vh;
  margin: 0em;
  overflow-y: auto;
  background: rgb(28, 27, 27);
}
#content {
  height: auto;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr;
}

#card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

.videosList {
  list-style: none;
  margin: 0px;
  padding: 1px;
}
